#about {
	display: block;
	background-image: linear-gradient(#39393F, black);
}

.header {
/*	position: fixed;
*/	font-family:  'Avenir Next', 'Arial Black', sans-serif;
	color: white;
	text-align: right;
	padding: 7%;
	padding-bottom: 30px;
	text-shadow: 2px 2px 8px black;

}

#aboutimg{
	display: flex;
	max-width: 80%;
	margin: auto;
	justify-content: center;
    align-items: center;
}

#aboutimg img{
	flex-shrink: 0;
    min-width: 30%;
    min-height: 30%;
    width: 50%;
}

.text {
	padding: 5%;
	color: white;
	font-family:  'Avenir Next', 'Arial Black', sans-serif;
}

@media screen and (max-width: 1000px) {

	#aboutimg{
		display: block;
		margin: auto;
		justify-content: center;
	    align-items: center;
	}

	#aboutimg img{
		flex-shrink: 0;
	    min-width: 100%;
	    max-width: 60%;
	    min-height: 100%
	}

	.text {
		padding-bottom: 10%;
		color: white;
		font-family:  'Avenir Next', 'Arial Black', sans-serif;
	}
}