#contact {
	background-color: black;
	height: 100vh;
}

h4 {
	text-align: center;
	font-family:  'Avenir Next', 'Arial', sans-serif;

}

.column {
	min-width: 40%;
	margin: auto;
	 float: left;

}
.btn-primary {
	background-color: #770204!important;
	border-color: #770204!important;
}

label {
	color: white;
	font-family:  'Avenir Next', 'Arial', sans-serif;
	text-align: right;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


footer {
	text-align: center;
	background-color: black;
}

ul#menu li {
  display:inline;
    padding-left: 0px;
}

.contactbutt span:hover{
	color: #770204;
}

/*.form-group {
	border-radius: 5%;
}*/