html {
    scroll-behavior: smooth;
}

#nav {
	background: rgba(0,0,0,.5);
	transition: background 200ms linear;
/*	position: fixed;
	width: 100%;*/
}

.rightalign {
  justify-content: flex-end;
}

.navbar-nav a {
	margin-left: 25px;
	margin-right: 25px;
	font-family:  'Avenir Next', 'Arial', sans-serif;
	color: white !important;
}

.navbar-nav a:hover {
	color: #D1D1D4 !important;
	text-shadow: 2px 2px 8px black;
	transition: all .35s ease-in-out;
}



.fixed-top.scrolled {
  background-color: #770204 !important;
  transition: background-color 200ms linear;
}

