#members {
	display: block;
	background-color: #39393F;
}

#membergrid {
	margin: auto;
	width: 100%;
	text-align: center;
}

.two {
	display: grid;
  	grid-template-columns: auto auto;
  	max-width: 60%;
  	margin: auto;
}

.member1 {
	padding: 5%;
}

.member2 {
	padding: 5%;
}


.three {
/*	display: inline-block;
*/	display: grid;
  	grid-template-columns: auto auto auto;
  	max-width: 90%;
  	margin: auto;
}

.name {
	color: white;
/*	font-family:  'Avenir Next', 'Arial', sans-serif;
*/	font-weight: 1;
	margin-bottom: 0;
	margin-top: 10px;
	opacity: 0.9;
	font-size: 20px;
}

.voice {
	color: white;
/*	font-family:  'Avenir Next', 'Arial', sans-serif;
*/	font-weight: 1;
	margin-bottom: 0;
	margin-top: 0;
	opacity: 0.4;
}

.onhover {
	width: 275px;
	height: 275px;
	margin: auto;
}

.memberdes:hover{
	text-shadow: 2px 2px 8px black;
	color: white;
	opacity: 0.9;
}

.onhover img {
	border-radius: 4%;
}


.details {
	transition: background 200ms ease-in-out;
	position: absolute;
	text-align: left;
	width: 275px;
	height: 275px;
	opacity: 0;
	color: white;
/*	font-family:  'Avenir Next', 'Arial', sans-serif;
*/	font-size: 16px;
}

.details p {
	padding: 10px;
	padding-top: 75px;
	margin: auto;
	text-align: center;
}


.onhover:hover .details{
	opacity: 1; 
	background: rgba(57,57,63, .7);
	transition: background 200ms ease-in-out;
}


@media screen and (max-width: 900px) {
	.two {
		display: block;
		max-width: 90%;
	}
	.three {
		display: block;
	}
}



